* {
    bg-dark:    #262439;
    bg-border:  #39effc;
    accent:     #39effc;
    accent2:    #597492;
}

element {
    padding:     1px ;
    orientation: horizontal;
    cursor:      pointer;
    spacing:     5px ;
    border:      0;
    children:    [ "element-text","element-icon" ];
}

element normal.normal {
    background-color: transparent;
    text-color:        @accent2;
}

element selected.normal {
    background-color: @accent;
    text-color:        @bg-dark;
}

element alternate.normal {
    background-color: transparent;
    text-color:        @accent2;
}

element-text {
    background-color: transparent;
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: transparent;
    size:             1.5em ;
    cursor:           inherit;
    text-color:       inherit;
}

window {
    padding:          5;
    background-color: @bg-dark;
    border-color:     @bg-border;
    border:           5;
}

mainbox {
    padding: 0;
    border:  0;
}
message {
    padding:      1px ;
    border-color: @bg-border;
    border:       2px dash 0px 0px ;
}
textbox {
    text-color: @accent2;
}

listview {
    padding:      2px 0px 0px ;
    scrollbar:    true;
    border-color: @bg-border;
    spacing:      2px ;
    fixed-height: 0;
    border:       2px dash 0px 0px ;
}
scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 8px ;
    border:       0;
    handle-color: @accent;
}
sidebar {
    border-color: @bg-border;
    border:       2px dash 0px 0px ;
}
button {
    cursor:     pointer;
    spacing:    0;
    text-color: @accent2;
}
button selected {
    background-color: @accent;
    text-color:       @bg-dark;
}
num-filtered-rows {
    expand:     false;
    text-color: @accent2;
}
num-rows {
    expand:     false;
    text-color: @accent2;
}
textbox-num-sep {
    expand:     false;
    str:        "|";
    text-color: @accent2;
}
inputbar {
    padding:    1px ;
    spacing:    0px ;
    text-color: @accent2;
    children:   [ "prompt","textbox-prompt-colon","entry","num-filtered-rows","textbox-num-sep","num-rows","case-indicator" ];
}
case-indicator {
    spacing:    0;
    text-color: @accent2;
}
entry {
    text-color:        @accent2;
    cursor:            text;
    spacing:           0;
    placeholder-color: @bg-border;
    placeholder:       "write here";
}
prompt {
    spacing:    0;
    text-color: @accent2;
}
textbox-prompt-colon {
    margin:     0px 0.3000em 0.0000em 0.0000em ;
    expand:     false;
    str:        ":";
    text-color: inherit;
}
